[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
fontawesomefree = "6.4.0"
gunicorn = "20.1.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
django = "python backend/manage.py runserver 0.0.0.0:8000"
dumpdata = "python -Xutf8 backend/utils/dump_data.py"
migrate = "python backend/manage.py migrate"
createsuperuser = "python backend/manage.py createsuperuser"
