<div class="input-group" id="item-{{ item.id }}">
    <span class="form-control">
        {{ item.name }}
    </span>

    {% comment %} item done button {% endcomment %}
    <button class="btn btn-outline-success" 
    type="button"
    hx-put="{% url 'jar:item_done' item.id %}"
    >
        <i class="fa-solid fa-check"></i>
    </button>

    {% comment %} item choose button {% endcomment %}
    <button class="btn btn-outline-success" 
    type="button"
    hx-put="{% url 'jar:item_choose' item.id %}"
    >
        <i class="fa-solid fa-hand-point-up"></i>
    </button>

    {% comment %} item edit button {% endcomment %}
    <button class="btn btn-outline-warning" 
    type="button"
    hx-target="#item-{{ item.id }}"
    hx-get="{% url 'jar:item_edit' item.id %}"
    >
        <i class="fa-solid fa-pencil"></i>
    </button>

    {% comment %} item delete button {% endcomment %}
    <button class="btn btn-outline-danger" 
    type="button"
    hx-target="#item-{{ item.id }}"
    hx-confirm="Are you sure want to delete '{{ item.name }}'?"
    hx-delete="{% url 'jar:item_delete' item.id %}"
    >
        <i class="fa-solid fa-trash-can"></i>
    </button>
</div>